<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>video_player_pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188E051E1F14BC2000BF4345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188E05371F14BC2100BF4345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188E05421F14BC2100BF4345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
